* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 30px;
  box-shadow: 0px 3px 7.5px rosybrown;
}

nav > img {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero > img {
  max-width: 400px;
  align-self: center;
}

.hero > h1 {
  margin-bottom: 16px;
  align-self: center;
}

.hero > p {
  margin-top: 0;
  align-self: center;
}

.card-container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  width: fit-content;
  margin: auto;
}

.card {
  max-width: 250px;
  box-shadow: 0px 3px 7.5px rgb(247, 207, 207);
  border-radius: 2mm;
  margin-left: 10px;
  position: relative;
}

.card-spots {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: rgb(255, 255, 255);
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card-online {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgb(252, 225, 225);
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card > img {
  max-width: inherit;
  border-radius: 2mm;
}

.card > h4 {
  color: rgb(68, 52, 52);
  padding: 5px;
  margin: 0;
}

.card-detail {
  padding: 5px;
}

.card-review {
  display: flex;
  align-items: center;
  height: 30px;
}

.card-review > i {
  color: rgb(241, 56, 93);
}

.card-review > p {
  margin-left: 3px;
  color: rgb(61, 61, 61);
}

.card-review > p > span {
  color: gray;
}

.card-description {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-price {
  display: flex;
  height: 30px;
  align-items: center;
}

.card-price > p {
  font-weight: bold;
}

.card-price > p > span {
  color: gray;
  font-weight: lighter;
}
