* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 30px;
  box-shadow: 0px 3px 7.5px rosybrown;
}

nav > img {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero > img {
  max-width: 400px;
  align-self: center;
}

.hero > h1 {
  margin-bottom: 16px;
  align-self: center;
}

.hero > p {
  margin-top: 0;
  align-self: center;
}

.card-container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.card {
  max-width: 250px;
  box-shadow: 0px 3px 7.5px rgb(247, 207, 207);
  border-radius: 2mm;
  margin-left: 10px;
}

.card > img {
  max-width: inherit;
  border-radius: 2mm;
}

.card-detail {
  padding: 5px;
}

.card-comment {
  display: flex;
  align-items: center;
  height: 30px;
}

.card-comment > i {
  color: rgb(241, 56, 93);
}

.card-comment > p {
  margin-left: 3px;
  color: rgb(61, 61, 61);
}

.card-comment > p > span {
  color: gray;
}

.card-lesson {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-price {
  display: flex;
  height: 30px;
  align-items: center;
}

.card-price > p {
  font-weight: bold;
}

.card-price > p > span {
  color: gray;
  font-weight: lighter;
}
