.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(22, 22, 22);
}

.nav-items {
  list-style: none;
  display: flex;
  margin-left: 50px;
}

.nav-items > li {
  padding: 10px;
}
.nav-items > li > a {
  color: rgb(255, 255, 255);
}
.nav-title {
  margin-left: 5px;
  color: aqua;
}

.nav-logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
