* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 15px 15px;
  background-color: rgb(248, 147, 147);
  align-items: center;
  justify-content: center;
}

nav > i {
  color: white;
  font-size: 30px !important;
}

nav > h3 {
  color: white;
  margin-left: 10px;
}

.journals {
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.journal {
  display: flex;
  max-width: 700px;
  margin: 10px;
}

.journal > img {
  width: 150px;
  max-height: 250px;
  border-radius: 2mm;
}

.journal-details {
  margin-left: 10px;
}

.location {
  display: flex;
  align-items: center;
}

.location > i {
  color: rgb(248, 147, 147);
}

.location > p {
  margin-left: 5px;
  letter-spacing: 0.5mm;
}

.location > a {
  margin-left: 5px;
  color: rgb(161, 160, 160);
}

.journal-details > h1 {
  margin-top: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.journal-details > h4 {
  margin-bottom: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: smaller;
}

.journal-details > p {
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
